openai>=1.40.0
python-dotenv>=1.0.1
sounddevice>=0.4.7
numpy>=1.26.4
gpiozero>=2.0.1
adafruit-blinka>=8.30.0
adafruit-circuitpython-ssd1306>=2.12.19
Pillow>=10.4.0
lgpio>=0.2.2
smbus2>=0.5.0
vosk>=0.3.45